@import '@styles/__defines.scss';

.home {
  background-color: $theme-1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  &__title {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
}
