.picture {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  &__whole {
    position: relative;
    margin-bottom: 20px;
    width: 250px;
    height: 140px;
  }

  &__background {
    position: absolute;
    width: 250px;
    height: 140px;
  }

  &__kitten1 {
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 50px;
  }

  &__kitten2 {
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 50px;
  }
}
