.artist__image {
  width: max-content;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 400px;
}

.artist__description {
}

@media (max-width: 870px) {
  .artist__name {
    font-size: 20px;
  }

  .artist__description {
    font-size: 16px;
  }
}

@media (max-width: 630px) {
  .artist__name {
    font-size: 16px;
  }

  .artist__description {
    font-size: 12px;
  }
}
