body {
  /* font: 0; */
  font-family: 'Roboto Mono', monospace;
  background-color: #a0ced9;
  margin: 0;
  padding: 0;
  padding-bottom: 66px;
}

header {
  background-color: #adf7b6;
  padding: 19px;
}

.menu-icon,
.guitar-icon {
  height: 50px;
  width: 50px;
}

.main-name {
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  margin: 0;
}

.main {
  margin: 19px 50px;
  background-color: #adf7b6;
  padding-top: 15px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 10px;
}

.main__title {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  color: #000000;
  padding: 0;
  margin: 0;
}

.search-block__input {
  background: #fcf5c7;
  border: 1px solid #000000;
  border-radius: 11px;
  font-size: 32px;
  width: calc(100% - 60px);
}

.search-block__icon {
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  margin-top: 11px;
}

.list__year {
  text-align: end;
  margin-bottom: 5px;
  font-size: 20px;
}

.list__entry {
  display: flex;
  margin-bottom: 20px;
  font-size: 20px;
}

.entry__image {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 10px;
}

.entry__right_column {
  margin: 10px 0 0 auto;
}

.entry__author,
.entry__song {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.list__entry > a,
span {
  margin-top: 10px;
  font-size: 20px;
}

.prompt-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 100;
}

.prompt {
  background-color: #adf7b6;
  position: absolute;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #a0ced9;
  border-radius: 10px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  color: #000000;
}

.prompt__title {
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}

.prompt__text {
  font-size: 24px;
  margin: 20px;
}

.footer-block {
  background-color: #adf7b6;
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-block > a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

@media (max-width: 870px) {
  header {
    padding: 10px;
  }

  .menu-icon,
  .guitar-icon {
    height: 40px;
    width: 40px;
  }

  .main-name {
    font-size: 35px;
  }

  .main {
    margin: 10px 30px;
  }

  .main__title {
    font-size: 24px;
    line-height: 32px;
  }

  .prompt {
    position: absolute;
    width: 500px;
    border: 2px solid #a0ced9;
  }

  .prompt__title {
    font-size: 24px;
    margin: 10px 0;
  }

  .prompt__text {
    font-size: 16px;
    margin: 10px;
  }

  .footer-block {
    padding: 15px 30px;
  }

  .footer-block > a {
    font-size: 16px;
  }
}

@media (max-width: 630px) {
  body {
    padding-bottom: 46px;
  }

  header {
    padding: 5px;
  }

  .menu-icon,
  .guitar-icon {
    height: 30px;
    width: 30px;
  }

  .main-name {
    font-size: 26px;
  }

  .main {
    margin: 10px 10px;
    padding: 10px;
  }

  .main__title {
    font-size: 18px;
    line-height: 24px;
  }

  .search-block__input {
    font-size: 24px;
    width: calc(100% - 60px);
  }

  .search-block__icon {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    margin-top: 11px;
  }

  .list__year {
    font-size: 12px;
  }

  .list__entry {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .entry__image {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .entry__right_column {
    margin: 10px 0 0 auto;
  }

  .entry__author,
  .entry__song {
    font-size: 12px;
  }

  .list__entry > a,
  span {
    margin-top: 10px;
    font-size: 12px;
  }

  .prompt {
    width: calc(100% - 50px);
  }

  .prompt__title {
    font-size: 18px;
    margin: 5px 0;
  }

  .prompt__text {
    font-size: 12px;
    margin: 5px;
  }

  .footer-block {
    padding: 10px;
  }

  .footer-block > a {
    font-size: 14px;
  }
}
